#create {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    justify-content: center;
    
}

input[type="text"],select,textarea {
    width: 80%;
    padding: 8px 0px;
    margin: 8px 0px;

}

input[type="number"] {
    width: 80%;
    padding: 8px 0px;
    margin: 8px 0px;

}

input[type="submit"] {
    width: 80%;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 0px;
    margin: 8px 0px;
    margin-bottom: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

table {
    width: 70%;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
    border-collapse: collapse;
    
}
table th {
    background-color: yellow;
}

table th, table td {
    padding: 8px 0px;
    border: 1px solid teal;
}

/* media queries */  

/* for medium secreen */

@media screen and (min-width:480px ) and (max-width:860px ) {
    #create {
        width: 60%;
    }

    #table {
        width: 80%;
        margin: auto;
        margin: auto 10px;
       
    }
    
}

/* for small secreen */

@media screen and (min-width:0px ) and (max-width:479px ) {
    #create {
        width: 90%;
    }

    #table {
        width: 90%;
        margin: auto;
        margin: auto 10px;
    }
    
}
